<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fájl_áthelyező.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Fájl_áthelyező.Properties.Settings>
            <setting name="sourceFile" serializeAs="String">
                <value>c:\bony_labor\ToFonix\lab.msg</value>
            </setting>
            <setting name="sourceSemFile" serializeAs="String">
                <value>c:\bony_labor\ToFonix\lab.sem</value>
            </setting>
            <setting name="destinationDir" serializeAs="String">
                <value>s:\ToFonix</value>
            </setting>
            <setting name="freqM" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="freqS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sourceBonyFile" serializeAs="String">
                <value>s:\FromFonix\lab.msg</value>
            </setting>
            <setting name="sourceBonySemFile" serializeAs="String">
                <value>s:\FromFonix\lab.sem</value>
            </setting>
            <setting name="destinationBonyDir" serializeAs="String">
                <value>c:\bony_labor\FromFonix</value>
            </setting>
            <setting name="send" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="receive" serializeAs="String">
                <value>False</value>
            </setting>
        </Fájl_áthelyező.Properties.Settings>
    </userSettings>
</configuration>